.acs_report table thead tr th {
    padding: 0.35rem !important;
  }
  .acs_report table tbody tr td {
    padding: 0.35rem !important;
  }
  .acs_custom_border {
    border-top: none !important;
    border-bottom: 1px solid !important;
  }
  