<odoo>
    <data>
        <menuitem name="Google Contacts" id="google_mod_menu_root" parent="contacts.menu_contacts" sequence="10"/>

        <menuitem name="Google Settings" id="google_menu" parent="google_mod_menu_root" sequence="1"/>

        <menuitem name="Connector" id="google_mod_connector_menu" parent="google_menu" action="google_mod_connector_action_window" sequence="1"/>
        <menuitem name="Credentials" id="google_mod_credentials_menu" parent="google_menu" action="google_mod_credentials_action_window" sequence="2"/>
        <!--<menuitem name="Cron Settings" id="google_mod_cron_settings_menu" parent="google_menu" action="google_mod_cron_settings_action_window" sequence="3"/>-->
        <menuitem name="Cron Settings" id="google_mod_cron_settings_menu" parent="google_menu" action="ir_cron_act_cs" sequence="3"/>
        <menuitem name="Import History" id="google_mod_import_stats_menu" parent="google_menu" action="google_mod_import_stats_action_window" sequence="4"/>
        <menuitem name="Export History" id="google_mod_export_stats_menu" parent="google_menu" action="google_mod_export_stats_action_window" sequence="5"/>
    </data>
</odoo>